.footer
	&copy;2012 
	= link_to 'Sextant Legal Consultants',root_path,id: 'home'
	.div_footer
		%ul#menu-footer
			= menu_footer('HOME |', 'home')
			= menu_footer('	NOSOTROS |', 'about')
			= menu_footer('	SERVICIOS |', 'services')
			= menu_footer('	CLIENTES |', 'clients')
			= menu_footer('	CONTACTO ', 'contact')
		
		%p.firm Diseño y Desarrollo Web | <a href = 'http://www.zignacreativa.com'>Zigna Creativa</a>
