.footer
	#wrapper
		&copy;2012 
		= link_to 'Sextant Legal Consultants',root_path,id: 'home'
		%ul#menu-footer
			= menu_footer('HOME', 'home')
			= menu_footer('NOSOTROS', 'about')
			= menu_footer('SERVICIOS', 'services')
			= menu_footer('CLIENTES', 'clients')
			= menu_footer('CONTACTO', 'contact')
		.clear
		%p.firm 
			= raw(zigna)